.burgerKingContainer{
    /* border: 2px solid red; */
    color: slateblue;
}

.mcdonaldsContainer{
    /* border: 2px solid blue; */
    color: darkgoldenrod;
}

.wendysContainer{
    color: darkred;
}