.pizzeriaContainer{
    /* border: 2px solid red; */
    width: 75%;
    height: 50vh;
    margin-top: 10px;
}

.pizzeria{
    border: 2px solid steelblue;
    padding: 20px;
    border-radius: 5px;
    margin: 2vh;
}

.motto{
    font-style: italic;
}

